.sidebarHauptelement {
    color: dodgerblue;
}
.sidebarUnterelement {
    color: dodgerblue;
    margin-left: 2em;
}
.banner {
    background-image: linear-gradient(45deg,purple,blue,cyan,green,yellow,red,black);
    width: 99%;
    height: 5rem;
    border-radius: 4px;
    margin-bottom: 20px;
}
